CONTABILIDAD/CONTABILIDAD/Web References/FacturacionNWS/FacturacionNService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FacturacionNService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:85/FacturacionNService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:85/FacturacionNService.svc?xsd=xsd1" namespace="http://service.connector.alfa1lab.efact/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacturacionNService_EnviarGuia_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuia" />
  </wsdl:message>
  <wsdl:message name="IFacturacionNService_EnviarGuia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturacionNService_EnviarRetencion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencion" />
  </wsdl:message>
  <wsdl:message name="IFacturacionNService_EnviarRetencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacturacionNService">
    <wsdl:operation name="EnviarGuia">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionNService/EnviarGuia" message="tns:IFacturacionNService_EnviarGuia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionNService/EnviarGuiaResponse" message="tns:IFacturacionNService_EnviarGuia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionNService/EnviarRetencion" message="tns:IFacturacionNService_EnviarRetencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionNService/EnviarRetencionResponse" message="tns:IFacturacionNService_EnviarRetencion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacturacionNService" type="tns:IFacturacionNService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarGuia">
      <soap:operation soapAction="http://tempuri.org/IFacturacionNService/EnviarGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencion">
      <soap:operation soapAction="http://tempuri.org/IFacturacionNService/EnviarRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturacionNService">
    <wsdl:port name="BasicHttpBinding_IFacturacionNService" binding="tns:BasicHttpBinding_IFacturacionNService">
      <soap:address location="http://localhost:85/FacturacionNService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>